<style>

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFF8E7;
  font-size: 14px;
  color: #5A4A2E;
}

#topo h1 {
  color: #5A4A2E;
  text-align: center;
  font-size: 24px;
  background-color: #FFF8E7;
  padding: 20px;
  border-radius: 50px;
  display: block;
}

#topo h2 {
  color: #5A4A2E;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
}

#topo p {
  color: #5A4A2E;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  max-width: 800px;
  margin: 0 auto 30px auto;
}

#menu-principal {
  background-color: #F6C453;
  padding: 10px 0;
  border-radius: 15px;
  text-align: center;
}

#menu-principal a {
  color: #5A4A2E;
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
  padding: 6px 12px;
  border-radius: 6px;
  display: inline-block;
}

#menu-principal a:hover {
  color: #FAED27;
}

section {
    background-color: #FAF1DC;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #D89E2B;
}

pre {
    background-color: #5A4A2E;
    color: #FFF8E7;
    padding: 15px;
}

#sabermais{
  background-color: #F6C453; 
  padding: 10px;
  margin-top: 15px;
  border-radius: 8px;
}

#sabermais h2{
  margin-top: 0;
}

#sabermais a{
  color: #333;
  text-decoration: underline;
  display: inline-block;
  margin-top: 8px;
}

#formulario{
  background-color: #d6d5c7;
  padding: 10px;
  margin-top: 15px;
  border-radius: 8px;
}

#formulario h2{
  margin-top: 0;
}

#formulario label{
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

#formulario input, #formulario select, #formulario textarea{
  margin-top: 5px;
  padding: 6px;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

#formulario input[type="radio"]{
  width: auto;
  margin-right: 5px;
}

#formulario input[type="submit"]{
  margin-top: 10px;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
}

footer {
  background-color: #FAF1DC;
  text-align: center;
  padding: 15px 10px;
  margin-top: 25px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

</style>